// Set site specific configuration variables here.
// All options with defaults are listed and commented
// out.
iConfig = {
  // The title that will display on all pages.
  //   pageTitle: 'Icecream Icecast Video Source Client',
  // The logo that will be displayed.
  //   logoPath: '/images/icecream-small.png',
  // Domain name of the server running icecast. ffmpeg will
  // stream to this server via the icecast:// protocol.
  //   iceServerDomain: 'example.org',
  //   iceServerPort: 8000,
  // Whether or not you want users to be able to choose their mount point.
  // If disabled, then it will default to mountPrefix + username.
  //   enableMountPointSelection: false,
  //   mountPrefix: 's-',
  // If you have a different URL for watching your streams (e.g. you are
  // using a proxy via https) enter it here.
  // watchUrl: 'https://example.org/',
  //  Decide what width and height to use. Smaller means less bandwidth!
  // videoMinWidth: 320,
  // videoIdealWidth: 320,
  // videoMaxWidth: 320,
  // videoMinHeight: 240,
  // videoIdealHeight: 240,
  // videoMaxHeight: 240,
  //   Decide what bit rates to use.
  // audioBitsPerSecond: 128000,
  // videoBitsPerSecond: 1500000
  //  Customize the footer
  // footer: '<strong>Icecream</strong> is free software. Browse the <strong>icecream</strong> source code via <a href="https://gitlab.com/jamie/icecream">gitlab</a>.', 
};
