#main-content {
  margin-left: 5%;
  margin-right: 5%;
}

.title {
  margin: auto;
}

#titleHeader {
  font-size: x-large;
}

#header {
  background-color: #000;
  color: #fff;
  padding-left: 5%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.intro {
  font-size: xx-large;
}

.large {
  font-size: x-large;
}
#outreach-directions {
  display: none;
}

.html-code {
  width:100%; 
  font-family: Monospace; 
  border:0;
  height: 4em;
  width: 50em;
}

.button-start,
.button-stop {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-start {
   background: rgb(28, 184, 65); /* this is a green */
}

.button-stop {
    background: rgb(223, 117, 20); /* this is an orange */
}

#status-area {
  margin-top: 10px;
}

#message-area {
  color: red;
}

